<div class="form-container">
  <div class="signup-container">
    <h2>Sign Up</h2>

    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <input
      type="text"
      placeholder="Username"
      [(ngModel)]="user.username"
      [disabled]="isLoading"
    /><br />

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="user.email"
      [disabled]="isLoading"
    /><br />

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="user.password"
      [disabled]="isLoading"
    /><br />

    <button (click)="signup()" [disabled]="isLoading">
      {{ isLoading ? 'Signing Up...' : 'Sign Up' }}
    </button>
  </div>
</div>
